<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bulma/css/bulma.css">
    <title>Notes</title>
</head>

<body>
    <%- include('menu.ejs') %>

    <div class="box">
        <h1 class="title"> Les notes </h1>

        <% if (typeof error !== 'undefined')  {%>
            <p> <%= error %> </p>
        <% } %>

        <% if (typeof user !=='undefined' ) { %>
            <h1 class="title"> Authentifié en tant que : <%= user %> </h1>

            <section class="section">
                <% if (typeof note=='undefined' || note.length==0) { %>
                    <% if (typeof section == 'undefined' || note.length==0) { %>
                        <% if (typeof section_null == 'undefined' || section_null.length==0) { %>
                            <article>
                                <h2 class="subtitle">Aucune section existante </h2>
                            </article>

                        <% } else { %>
                            <article>
                                <h2 class="subtitle">Aucune note pour la section : <%= section_null[0]['libelleSection'] %></h2>
                            </article>
                        <% } %>
                    <% } else { %>
                        <article>
                            <h2 class="subtitle"> Eleve de la section :</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><abbr title="Nom">Nom élève </abbr></th>
                                        <th><abbr title="Prénom">Prénom élève</abbr></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% section.forEach(element => { %>
                                    <tr>
                                        <td> <%= element['nomEleve'] %> </td>
                                        <td> <%= element['prenomEleve'] %> </td>
                                        <td> <a href="/prof/saisie_notes/<%= element['idEleve'] %>">Ajout d'une note</a></td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </article>
                    <% } %>
                <% } else { %>
                    <article>
                        <h2 class="subtitle"> Les notes de la section : <%= note[0]['libelleSection'] %> </h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre de note avec au moins 50% de réussite</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% let sum = 0 %>
                                    <% note.forEach(element => { if(Number(element['note']) >= 50) { sum++ }} ) %>
                                    <td> <%= sum %> </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Nom élève </th>
                                    <th> Prénom élève </th>
                                    <th> Notes </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% eleves.forEach(elem => { %>
                                    <tr>
                                        <td> <%= elem['nomEleve'] %> </td>
                                        <td> <%= elem['prenomEleve'] %> </td>
                                        <td>
                                            <% note.forEach(element => { %>
                                                <% if (elem['idEleve'] == element['idEleve']) { %>
                                                    <p> <%= element['note'] %> </p>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td> <a class="button is-link is-rounded" href="/prof/saisie_notes/<%= elem['idEleve'] %>"> Ajout d'une note </a> </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } %>
            </section>
        <% } else { %>
            <h1 class="title"> Problème avec les idenfitifiants </h1>
            <h2 class="subtitle"> Aucun accès autorisé </h2>
        <% } %>
    </div>


    
</body>

</html>