<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bulma/css/bulma.css">
    <title>Notes</title>
</head>

<body>
    <%- include('menu.ejs') %>

    <div class="box">
        <h1 class="title"> Les notes </h1>

        <% if (typeof error !== 'undefined')  {%>
            <p> <%= error %> </p>
        <% } %>

        <% if (typeof user !=='undefined' ) { %>
            <h1 class="title"> Authentifié en tant que : <%= user %> </h1>
            <section class="section">
                <% if (typeof eleve=='undefined') { %>
                    <h2 class="subtitle">Aucune élève existant. </h2>
                <% } else { %>
                    <article>
                        <h2 class="subtitle"> Saisie de notes pour : <%= eleve[0]['nomEleve'] %> <%= eleve[0]['prenomEleve'] %> </h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><abbr title="Nom"> Note : </abbr></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <input type="Note"></td>
                                </tr>
                            </tbody>
                        </table>

                    </article>
                <% } %>
            </section>



        <% } else { %>
            <h1 class="title"> Problème avec les idenfitifiants </h1>
            <h2 class="subtitle"> Aucun accès autorisé </h2>
        <% } %>
    </div>


    
</body>

</html>